# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual environments
venv/
newenv/
.env/

# Editor & system files
*.swp
*.swo
*.idea/
.vscode/
.DS_Store
*.egg-info/
dist/
build/

# Logs
*.log

# Ignore media/uploads if you don’t want them in Git
media/
staticfiles/
