{% extends 'email_templates/base.html' %}

{% block text_header %}
A message from Saving Grace
{% endblock %}

{% block content %}
<div>
    <p>
        Hi {{adopter.user_profile.first_name}},
    </p>
</div>
<div>
    <p>
        We wanted to check in because we saw you've requested to meet {{dog_name}}. Unfortunately, {{dog_name}} will
        no longer be available for adoption{% if available_date_phrase %} {{available_date_phrase}}{% endif %} as
        previously listed. Please keep an eye on our website for current listings, since availability can change.
    </p>
    {% if watchlist_still_available %}
    <p><strong>Other dogs on your watchlist who are still available:</strong></p>
    <ul>
        {% for dog in watchlist_still_available %}
        <li>{{dog.name}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>
        There are always wonderful dogs waiting to meet you, and we often have dogs who haven't had their photos
        taken yet, so you may meet someone unexpected!
    </p>
    {% if appointment_display %}
    <p>
        If you'd like to cancel your appointment on {{appointment_display}}, please do so through our scheduling
        platform (<a href="https://www.savinggracencscheduler.com"
            target="_blank"><strong>www.savinggracencscheduler.com</strong></a>). Otherwise, we look forward to
        seeing you soon!
    </p>
    {% else %}
    <p>
        You can browse current dog listings and book an appointment at our scheduling platform (<a
            href="https://www.savinggracencscheduler.com"
            target="_blank"><strong>www.savinggracencscheduler.com</strong></a>).
    </p>
    {% endif %}
</div>
<div>
    <p>Thank you,</p>
    <p class="pink signature">The Adoptions Team</p>
    <p>Saving Grace Animals for Adoption</p>
</div>
<hr />
{% endblock %}
